<li class="event-container">
    <div class="carousel-page">
        <h2 id="event-name" class="text-lg">Vashisht CTF</h2>
        <p id="description-hint" class="lead">A very good CTF</p>
        <button id="event" class="get-details btn btn-fit btn-secondary rounded mt-3">
            Get Details
        </button>
        <!-- <img src="images/teams/s-1.jpg" alt="" /> -->
    </div>

    <div class="carousel-page-modal hide">
        <div class="main-content">
            <div class="modal-details">
                <h2 id="event-name" class="text-lg">Vashisht CTF</h2>
                <p id="description" class="lead">A very good CTF</p>
                <div class="details">
                    <ul class="left--list">
                        <li><span class="h4"> Contact </span></li>
                        <li>
                            <p id="name" class="list-p">Subash Mylraj</p>
                        </li>
                        <li>
                            <p id="phone-no" class="list-p">+91 892546676</p>
                        </li>
                        <li>
                            <p id="email" class="list-p">cs20b1045@iiitdm.ac.im</p>
                        </li>
                    </ul>
                </div>
                <a id="registration" href="" class="btn btn-fit btn-secondary rounded mt-3 mt-lg-0"
                    id="registerbutton">Register in Event</a>
                <img id="image" src="images/teams/s-1.jpg" alt="" />
                <!--TODO edit close button to favicon -->
            </div>

            <img class="close-button" src="http://cdn.onlinewebfonts.com/svg/img_127536.png" alt="close">
        </div>
    </div>
</li>